# Dependencies
node_modules/

# Environment Variables
.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turborepo
.turbo/

# Astro
dist/
.astro/

# Build outputs
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
corner-check-8d397-firebase-adminsdk-fbsvc-d42f3d9cfe.json
node_modules/*
node_modules/astro/dist/cli/add/index.js
node_modules/astro/dist/cli/infra/build-time-astro-version-provider.js
node_modules/astro/dist/container/index.d.ts
node_modules/astro/dist/content/content-layer.js
node_modules/astro/dist/content/runtime.d.ts
node_modules/astro/dist/content/runtime.js
node_modules/astro/dist/core/constants.js
node_modules/astro/dist/core/app/base.js
node_modules/astro/dist/core/build/plugins/plugin-css.js
node_modules/astro/dist/core/dev/dev.js
node_modules/astro/dist/core/fetch/fetch-state.js
node_modules/astro/dist/core/messages/runtime.js
node_modules/astro/dist/core/middleware/vite-plugin.d.ts
node_modules/astro/dist/core/middleware/vite-plugin.js
node_modules/astro/dist/core/util/normalized-url.js
node_modules/astro/dist/core/util/pathname.d.ts
node_modules/astro/dist/core/util/pathname.js
node_modules/astro/dist/i18n/index.js
node_modules/astro/dist/runtime/server/jsx.js
node_modules/astro/dist/runtime/server/render/head.js
node_modules/astro/dist/vite-plugin-hmr-reload/index.js
node_modules/astro/dist/vite-plugin-pages/pages.d.ts
node_modules/astro/dist/vite-plugin-pages/pages.js
node_modules/astro/package.json
node_modules/astro/dist/assets/build/generate.js
node_modules/astro/dist/cli/add/index.js
node_modules/astro/dist/cli/infra/build-time-astro-version-provider.js
node_modules/astro/dist/container/index.d.ts
node_modules/astro/dist/content/content-layer.js
node_modules/astro/dist/content/runtime.d.ts
node_modules/astro/dist/content/runtime.js
node_modules/astro/dist/core/constants.js
node_modules/astro/dist/core/app/base.js
node_modules/astro/dist/core/build/plugins/plugin-css.js
node_modules/astro/dist/core/dev/dev.js
node_modules/astro/dist/core/fetch/fetch-state.js
node_modules/astro/dist/core/messages/runtime.js
node_modules/astro/dist/core/middleware/vite-plugin.d.ts
node_modules/astro/dist/core/middleware/vite-plugin.js
node_modules/astro/dist/core/util/normalized-url.js
node_modules/astro/dist/core/util/pathname.d.ts
node_modules/astro/dist/core/util/pathname.js
node_modules/astro/dist/i18n/index.js
node_modules/astro/dist/runtime/server/jsx.js
node_modules/astro/dist/runtime/server/render/head.js
node_modules/astro/dist/vite-plugin-hmr-reload/index.js
node_modules/astro/dist/vite-plugin-pages/pages.d.ts
node_modules/astro/dist/vite-plugin-pages/pages.js
node_modules/.package-lock.json
node_modules/@babel/core/node_modules/.bin/semver
node_modules/@babel/core/node_modules/.bin/semver.cmd
node_modules/@babel/core/node_modules/.bin/semver.ps1
node_modules/@babel/core/node_modules/debug/LICENSE
node_modules/@babel/core/node_modules/debug/package.json
node_modules/@babel/core/node_modules/debug/README.md
node_modules/@babel/core/node_modules/debug/src/browser.js
node_modules/@babel/core/node_modules/debug/src/common.js
node_modules/@babel/core/node_modules/debug/src/index.js
node_modules/@babel/core/node_modules/debug/src/node.js
node_modules/@babel/core/node_modules/ms/index.js
node_modules/@babel/core/node_modules/ms/license.md
node_modules/@babel/core/node_modules/ms/package.json
node_modules/@babel/core/node_modules/ms/readme.md
node_modules/@babel/core/node_modules/semver/LICENSE
node_modules/@babel/core/node_modules/semver/package.json
node_modules/@babel/core/node_modules/semver/range.bnf
node_modules/@babel/core/node_modules/semver/README.md
node_modules/@babel/core/node_modules/semver/semver.js
node_modules/@babel/core/node_modules/semver/bin/semver.js
node_modules/@babel/helper-compilation-targets/node_modules/.bin/semver
node_modules/@babel/helper-compilation-targets/node_modules/.bin/semver.cmd
node_modules/@babel/helper-compilation-targets/node_modules/.bin/semver.ps1
node_modules/@babel/helper-compilation-targets/node_modules/lru-cache/index.js
node_modules/@babel/helper-compilation-targets/node_modules/lru-cache/LICENSE
node_modules/@babel/helper-compilation-targets/node_modules/lru-cache/package.json
node_modules/@babel/helper-compilation-targets/node_modules/lru-cache/README.md
node_modules/@babel/helper-compilation-targets/node_modules/semver/LICENSE
node_modules/@babel/helper-compilation-targets/node_modules/semver/package.json
node_modules/@babel/helper-compilation-targets/node_modules/semver/range.bnf
node_modules/@babel/helper-compilation-targets/node_modules/semver/README.md
node_modules/@babel/helper-compilation-targets/node_modules/semver/semver.js
node_modules/@babel/helper-compilation-targets/node_modules/semver/bin/semver.js
node_modules/@babel/traverse/node_modules/debug/LICENSE
node_modules/@babel/traverse/node_modules/debug/package.json
node_modules/@babel/traverse/node_modules/debug/README.md
node_modules/@babel/traverse/node_modules/debug/src/browser.js
node_modules/@babel/traverse/node_modules/debug/src/common.js
node_modules/@babel/traverse/node_modules/debug/src/index.js
node_modules/@babel/traverse/node_modules/debug/src/node.js
node_modules/@babel/traverse/node_modules/ms/index.js
node_modules/@babel/traverse/node_modules/ms/license.md
node_modules/@babel/traverse/node_modules/ms/package.json
node_modules/@babel/traverse/node_modules/ms/readme.md
node_modules/astro/package.json
node_modules/astro/dist/assets/build/generate.js
node_modules/astro/dist/cli/add/index.js
node_modules/astro/dist/cli/infra/build-time-astro-version-provider.js
node_modules/astro/dist/container/index.d.ts
node_modules/astro/dist/content/content-layer.js
node_modules/astro/dist/content/runtime.d.ts
node_modules/astro/dist/content/runtime.js
node_modules/astro/dist/core/constants.js
node_modules/astro/dist/core/app/base.js
node_modules/astro/dist/core/build/plugins/plugin-css.js
node_modules/astro/dist/core/dev/dev.js
node_modules/astro/dist/core/fetch/fetch-state.js
node_modules/astro/dist/core/messages/runtime.js
node_modules/astro/dist/core/middleware/vite-plugin.d.ts
node_modules/astro/dist/core/middleware/vite-plugin.js
node_modules/astro/dist/core/util/normalized-url.js
node_modules/astro/dist/core/util/pathname.d.ts
node_modules/astro/dist/core/util/pathname.js
node_modules/astro/dist/i18n/index.js
node_modules/astro/dist/runtime/server/jsx.js
node_modules/astro/dist/runtime/server/render/head.js
node_modules/astro/dist/vite-plugin-hmr-reload/index.js
node_modules/astro/dist/vite-plugin-pages/pages.d.ts
node_modules/astro/dist/vite-plugin-pages/pages.js
node_modules/debug/.coveralls.yml
node_modules/debug/.eslintrc
node_modules/debug/.npmignore
node_modules/debug/.travis.yml
node_modules/debug/CHANGELOG.md
node_modules/debug/component.json
node_modules/debug/karma.conf.js
node_modules/debug/LICENSE
node_modules/debug/Makefile
node_modules/debug/node.js
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/debug.js
node_modules/debug/src/index.js
node_modules/debug/src/inspector-log.js
node_modules/debug/src/node.js
node_modules/lru-cache/LICENSE.md
node_modules/lru-cache/package.json
node_modules/lru-cache/README.md
node_modules/lru-cache/dist/commonjs/diagnostics-channel-cjs.cjs.map
node_modules/lru-cache/dist/commonjs/diagnostics-channel-cjs.d.cts.map
node_modules/lru-cache/dist/commonjs/diagnostics-channel.d.ts
node_modules/lru-cache/dist/commonjs/diagnostics-channel.js
node_modules/lru-cache/dist/commonjs/index.d.ts
node_modules/lru-cache/dist/commonjs/index.d.ts.map
node_modules/lru-cache/dist/commonjs/index.js
node_modules/lru-cache/dist/commonjs/index.js.map
node_modules/lru-cache/dist/commonjs/index.min.js
node_modules/lru-cache/dist/commonjs/index.min.js.map
node_modules/lru-cache/dist/commonjs/package.json
node_modules/lru-cache/dist/commonjs/perf.d.ts
node_modules/lru-cache/dist/commonjs/perf.d.ts.map
node_modules/lru-cache/dist/commonjs/perf.js
node_modules/lru-cache/dist/commonjs/perf.js.map
node_modules/lru-cache/dist/commonjs/browser/diagnostics-channel-browser.d.ts.map
node_modules/lru-cache/dist/commonjs/browser/diagnostics-channel-browser.js.map
node_modules/lru-cache/dist/commonjs/browser/diagnostics-channel.d.ts
node_modules/lru-cache/dist/commonjs/browser/diagnostics-channel.js
node_modules/lru-cache/dist/commonjs/browser/index.d.ts
node_modules/lru-cache/dist/commonjs/browser/index.d.ts.map
node_modules/lru-cache/dist/commonjs/browser/index.js
node_modules/lru-cache/dist/commonjs/browser/index.js.map
node_modules/lru-cache/dist/commonjs/browser/index.min.js
node_modules/lru-cache/dist/commonjs/browser/index.min.js.map
node_modules/lru-cache/dist/commonjs/browser/perf.d.ts
node_modules/lru-cache/dist/commonjs/browser/perf.d.ts.map
node_modules/lru-cache/dist/commonjs/browser/perf.js
node_modules/lru-cache/dist/commonjs/browser/perf.js.map
node_modules/lru-cache/dist/commonjs/node/diagnostics-channel-node.d.ts.map
node_modules/lru-cache/dist/commonjs/node/diagnostics-channel-node.js.map
node_modules/lru-cache/dist/commonjs/node/diagnostics-channel.d.ts
node_modules/lru-cache/dist/commonjs/node/diagnostics-channel.js
node_modules/lru-cache/dist/commonjs/node/index.d.ts
node_modules/lru-cache/dist/commonjs/node/index.d.ts.map
node_modules/lru-cache/dist/commonjs/node/index.js
node_modules/lru-cache/dist/commonjs/node/index.js.map
node_modules/lru-cache/dist/commonjs/node/index.min.js
node_modules/lru-cache/dist/commonjs/node/index.min.js.map
node_modules/lru-cache/dist/commonjs/node/perf.d.ts
node_modules/lru-cache/dist/commonjs/node/perf.d.ts.map
node_modules/lru-cache/dist/commonjs/node/perf.js
node_modules/lru-cache/dist/commonjs/node/perf.js.map
node_modules/lru-cache/dist/esm/diagnostics-channel-esm.d.mts.map
node_modules/lru-cache/dist/esm/diagnostics-channel-esm.mjs.map
node_modules/lru-cache/dist/esm/diagnostics-channel.d.ts
node_modules/lru-cache/dist/esm/diagnostics-channel.js
node_modules/lru-cache/dist/esm/index.d.ts
node_modules/lru-cache/dist/esm/index.d.ts.map
node_modules/lru-cache/dist/esm/index.js
node_modules/lru-cache/dist/esm/index.js.map
node_modules/lru-cache/dist/esm/index.min.js
node_modules/lru-cache/dist/esm/index.min.js.map
node_modules/lru-cache/dist/esm/package.json
node_modules/lru-cache/dist/esm/perf.d.ts
node_modules/lru-cache/dist/esm/perf.d.ts.map
node_modules/lru-cache/dist/esm/perf.js
node_modules/lru-cache/dist/esm/perf.js.map
node_modules/lru-cache/dist/esm/browser/diagnostics-channel-browser.d.ts.map
node_modules/lru-cache/dist/esm/browser/diagnostics-channel-browser.js.map
node_modules/lru-cache/dist/esm/browser/diagnostics-channel.d.ts
node_modules/lru-cache/dist/esm/browser/diagnostics-channel.js
node_modules/lru-cache/dist/esm/browser/index.d.ts
node_modules/lru-cache/dist/esm/browser/index.d.ts.map
node_modules/lru-cache/dist/esm/browser/index.js
node_modules/lru-cache/dist/esm/browser/index.js.map
node_modules/lru-cache/dist/esm/browser/index.min.js
node_modules/lru-cache/dist/esm/browser/index.min.js.map
node_modules/lru-cache/dist/esm/browser/perf.d.ts
node_modules/lru-cache/dist/esm/browser/perf.d.ts.map
node_modules/lru-cache/dist/esm/browser/perf.js
node_modules/lru-cache/dist/esm/browser/perf.js.map
node_modules/lru-cache/dist/esm/node/diagnostics-channel-node.d.ts.map
node_modules/lru-cache/dist/esm/node/diagnostics-channel-node.js.map
node_modules/lru-cache/dist/esm/node/diagnostics-channel.d.ts
node_modules/lru-cache/dist/esm/node/diagnostics-channel.js
node_modules/lru-cache/dist/esm/node/index.d.ts
node_modules/lru-cache/dist/esm/node/index.d.ts.map
node_modules/lru-cache/dist/esm/node/index.js
node_modules/lru-cache/dist/esm/node/index.js.map
node_modules/lru-cache/dist/esm/node/index.min.js
node_modules/lru-cache/dist/esm/node/index.min.js.map
node_modules/lru-cache/dist/esm/node/perf.d.ts
node_modules/lru-cache/dist/esm/node/perf.d.ts.map
node_modules/lru-cache/dist/esm/node/perf.js
node_modules/lru-cache/dist/esm/node/perf.js.map
node_modules/micromark/node_modules/debug/LICENSE
node_modules/micromark/node_modules/debug/package.json
node_modules/micromark/node_modules/debug/README.md
node_modules/micromark/node_modules/debug/src/browser.js
node_modules/micromark/node_modules/debug/src/common.js
node_modules/micromark/node_modules/debug/src/index.js
node_modules/micromark/node_modules/debug/src/node.js
node_modules/micromark/node_modules/ms/index.js
node_modules/micromark/node_modules/ms/license.md
node_modules/micromark/node_modules/ms/package.json
node_modules/micromark/node_modules/ms/readme.md
node_modules/mime/.npmignore
node_modules/mime/CHANGELOG.md
node_modules/mime/cli.js
node_modules/mime/mime.js
node_modules/mime/package.json
node_modules/mime/README.md
node_modules/mime/types.json
node_modules/mime/src/build.js
node_modules/mime/src/test.js
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/package.json
node_modules/ms/readme.md
node_modules/semver/index.js
node_modules/semver/package.json
node_modules/semver/preload.js
node_modules/semver/range.bnf
node_modules/semver/README.md
node_modules/semver/bin/semver.js
node_modules/semver/classes/comparator.js
node_modules/semver/classes/index.js
node_modules/semver/classes/range.js
node_modules/semver/classes/semver.js
node_modules/semver/functions/clean.js
node_modules/semver/functions/cmp.js
node_modules/semver/functions/coerce.js
node_modules/semver/functions/compare-build.js
node_modules/semver/functions/compare-loose.js
node_modules/semver/functions/compare.js
node_modules/semver/functions/diff.js
node_modules/semver/functions/eq.js
node_modules/semver/functions/gt.js
node_modules/semver/functions/gte.js
node_modules/semver/functions/inc.js
node_modules/semver/functions/lt.js
node_modules/semver/functions/lte.js
node_modules/semver/functions/major.js
node_modules/semver/functions/minor.js
node_modules/semver/functions/neq.js
node_modules/semver/functions/parse.js
node_modules/semver/functions/patch.js
node_modules/semver/functions/prerelease.js
node_modules/semver/functions/rcompare.js
node_modules/semver/functions/rsort.js
node_modules/semver/functions/satisfies.js
node_modules/semver/functions/sort.js
node_modules/semver/functions/truncate.js
node_modules/semver/functions/valid.js
node_modules/semver/internal/constants.js
node_modules/semver/internal/debug.js
node_modules/semver/internal/identifiers.js
node_modules/semver/internal/lrucache.js
node_modules/semver/internal/parse-options.js
node_modules/semver/internal/re.js
node_modules/semver/ranges/gtr.js
node_modules/semver/ranges/intersects.js
node_modules/semver/ranges/ltr.js
node_modules/semver/ranges/max-satisfying.js
node_modules/semver/ranges/min-satisfying.js
node_modules/semver/ranges/min-version.js
node_modules/semver/ranges/outside.js
node_modules/semver/ranges/simplify.js
node_modules/semver/ranges/subset.js
node_modules/semver/ranges/to-comparators.js
node_modules/semver/ranges/valid.js
node_modules/send/node_modules/ms/index.js
node_modules/send/node_modules/ms/license.md
node_modules/send/node_modules/ms/package.json
node_modules/send/node_modules/ms/readme.md
node_modules/vite/client.d.ts
node_modules/vite/LICENSE.md
node_modules/vite/package.json
node_modules/vite/README.md
node_modules/vite/dist/client/client.mjs
node_modules/vite/dist/client/env.mjs
node_modules/vite/dist/node/cli.js
node_modules/vite/dist/node/index.d.ts
node_modules/vite/dist/node/index.js
node_modules/vite/dist/node/module-runner.d.ts
node_modules/vite/dist/node/module-runner.js
node_modules/vite/dist/node/chunks/build.js
node_modules/vite/dist/node/chunks/build2.js
node_modules/vite/dist/node/chunks/chunk.js
node_modules/vite/dist/node/chunks/config.js
node_modules/vite/dist/node/chunks/config2.js
node_modules/vite/dist/node/chunks/dist.js
node_modules/vite/dist/node/chunks/lib.js
node_modules/vite/dist/node/chunks/logger.js
node_modules/vite/dist/node/chunks/moduleRunnerTransport.d.ts
node_modules/vite/dist/node/chunks/optimizer.js
node_modules/vite/dist/node/chunks/postcss-import.js
node_modules/vite/dist/node/chunks/preview.js
node_modules/vite/dist/node/chunks/server.js
node_modules/vite/types/customEvent.d.ts
node_modules/vite/types/hmrPayload.d.ts
node_modules/vite/types/hot.d.ts
node_modules/vite/types/importMeta.d.ts
node_modules/vite/types/metadata.d.ts
node_modules/vite/types/package.json
